In [4]:
import pandas as pd

In [6]:
'Our World in Data'

data_co_emissions = pd.read_csv('co-emissions-per-capita.csv')

print(f'Rows: {data_co_emissions.shape[0]}')
print(f'Columns: {data_co_emissions.shape[1]}')

data.head()

Rows: 26600
Columns: 4

        Entity Code  Year  Annual CO₂ emissions (per capita)
0  Afghanistan  AFG  1949                           0.001992
1  Afghanistan  AFG  1950                           0.011266
2  Afghanistan  AFG  1951                           0.012098
3  Afghanistan  AFG  1952                           0.011946
4  Afghanistan  AFG  1953                           0.013685

In [9]:
'EPA'

data_annual_aqi = pd.read_csv('annual_aqi_by_county_2024.csv')

print(f'Rows: {data_annual_aqi.shape[0]}')
print(f'Columns: {data_annual_aqi.shape[1]}')

data_annual_aqi.head()

Rows: 943
Columns: 18

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days PM2.5,Days PM10
0,Alabama,Baldwin,2024,111,98,13,0,0,0,0,66,51,33,0,0,23,88,0
1,Alabama,Clay,2024,121,96,25,0,0,0,0,75,55,28,0,0,0,121,0
2,Alabama,DeKalb,2024,152,120,32,0,0,0,0,77,58,42,0,0,116,36,0
3,Alabama,Elmore,2024,28,28,0,0,0,0,0,50,47,41,0,0,28,0,0
4,Alabama,Etowah,2024,120,74,46,0,0,0,0,93,66,42,0,0,14,106,0

In [11]:
pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Using cached et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Using cached openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [15]:
housing_data_by_unit_type = pd.read_excel('HC 1.1.xlsx')

print(f'Rows: {housing_data_by_unit_type.shape[0]}')
print(f'Columns: {housing_data_by_unit_type.shape[1]}')

print(housing_data_by_unit_type.head())

Rows: 44
Columns: 7
  Preliminary data release date: May 2022\nFinal data release date: March 2023  \
0  Table HC1.1  Fuels used and end uses in U.S. h...
1                                                NaN
2                                                NaN
3                                                NaN
4                                          All homes

                          Unnamed: 1              Unnamed: 2  \
0                                NaN                     NaN
1  Number of housing units (million)                     NaN
2                                NaN       Housing unit type
3                        Total U.S.a  Single-family detached
4                             123.53                   77.07

               Unnamed: 3                        Unnamed: 4  \
0                     NaN                               NaN
1                     NaN                               NaN
2                     NaN                               NaN
3  Single-family attached  Apartments \n(2–4 unit building)
4                    7.45                              9.34

                              Unnamed: 5   Unnamed: 6
0                                    NaN          NaN
1                                    NaN          NaN
2                                    NaN          NaN
3  Apartments\n(5 or more unit building)  Mobile home
4                                  22.84         6.83

In [16]:
ghg_emissions_by_sector = pd.read_excel('10802_GHG_emissions_by_econ_sector_5-8-24.xlsx')

print(f'Rows: {ghg_emissions_by_sector.shape[0]}')
print(f'Columns: {ghg_emissions_by_sector.shape[1]}')

print(ghg_emissions_by_sector.head())

Rows: 50
Columns: 9
   Unnamed: 0                                         Unnamed: 1  \
0         NaN  U.S. Greenhouse Gas Emissions by Economic Sect...
1         NaN                                               Year
2         NaN                                               1990
3         NaN                                               1991
4         NaN                                               1992

       Unnamed: 2              Unnamed: 3   Unnamed: 4   Unnamed: 5  \
0             NaN                     NaN          NaN          NaN
1  Transportation  Electricity Generation     Industry  Agriculture
2     1521.420123              1880.17568  1723.322321   595.946054
3     1474.771455             1874.408852  1702.866693   587.411997
4     1533.764162              1889.63553  1729.275078    587.51114

   Unnamed: 6   Unnamed: 7   Unnamed: 8
0         NaN          NaN          NaN
1  Commercial  Residential        Total
2  447.006292   345.597115  6513.467584
3  454.452721    355.26435  6449.176068
4  449.970155   361.808133  6551.964199